In [1]:
import pandas as pd

In [2]:
list_path_file = []

list_path_file.append("공대3호관 HV_01.csv")
list_path_file.append("공대7호관 HV_02.csv")
list_path_file.append("농생대3호관 HV_02 .csv")
list_path_file.append("농생대4호관 HV_01 .csv")
list_path_file.append("대학본부 HV_02.csv")
list_path_file.append("진리관 CS_02.csv")

list_building_name = [
    "공대3호관",
    "공대7호관",
    "농생대3호관",
    "농생대4호관",
    "대학본부",
    "진리관"
]

list_columns = ['date', 'temperatures(C)', 'humidity(%)', 'pressure(hPa)', 'energy']
new_columns = ['date', 'temperatures', 'humidity', 'pressure', 'energy']

In [3]:
df = pd.DataFrame(columns=new_columns + ['building'])

In [4]:
df

Empty DataFrame
Columns: [date, temperatures, humidity, pressure, energy, building]
Index: []

In [5]:
for file_name, building_name in zip(list_path_file, list_building_name):
    df_temp = pd.read_csv(file_name)
    df_temp = df_temp[list_columns]  # select columns
    df_temp.columns = new_columns  # rename columns
    df_temp['date'] = pd.to_datetime(df_temp['date'])  # convert to datetime
    df_temp.sort_values(['date'], ascending=[True], inplace=True)
    df_temp['building'] = building_name
    df = df.append(df_temp, ignore_index=True)

C:\Users\Andrew\AppData\Local\Temp\ipykernel_78980\510509849.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp, ignore_index=True)
C:\Users\Andrew\AppData\Local\Temp\ipykernel_78980\510509849.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp, ignore_index=True)
C:\Users\Andrew\AppData\Local\Temp\ipykernel_78980\510509849.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp, ignore_index=True)
C:\Users\Andrew\AppData\Local\Temp\ipykernel_78980\510509849.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp, ignore_index=True)
C:\Users\Andrew\AppData\Local\Temp\ipykernel_78980\510509849.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp, ignore_index=True)
C:\Users\Andrew\AppData\Local\Temp\ipykernel_78980\510509849.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_temp, ignore_index=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67254 entries, 0 to 67253
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   date          67254 non-null  datetime64[ns]
 1   temperatures  67236 non-null  float64
 2   humidity      67230 non-null  float64
 3   pressure      67068 non-null  float64
 4   energy        67254 non-null  float64
 5   building      67254 non-null  object
dtypes: datetime64[ns](1), float64(4), object(1)
memory usage: 3.1+ MB

In [7]:
from ultils import checking_data_null

null_rows = checking_data_null(df)

null_rows

Null values in each column:
date              0
temperatures     18
humidity         24
pressure        186
energy            0
building          0
dtype: int64


Details of rows with null values:



Index of rows with null values:
[6522, 6523, 6524, 6525, 6526, 6527, 6528, 6529, 6530, 6531, 6532, 6533, 6534, 6535, 6536, 6537, 6538, 6539, 6540, 6541, 6542, 6543, 6544, 6545, 6546, 6547, 6548, 6549, 6550, 6551, 6552, 17731, 17732, 17733, 17734, 17735, 17736, 17737, 17738, 17739, 17740, 17741, 17742, 17743, 17744, 17745, 17746, 17747, 17748, 17749, 17750, 17751, 17752, 17753, 17754, 17755, 17756, 17757, 17758, 17759, 17760, 17761, 28940, 28941, 28942, 28943, 28944, 28945, 28946, 28947, 28948, 28949, 28950, 28951, 28952, 28953, 28954, 28955, 28956, 28957, 28958, 28959, 28960, 28961, 28962, 28963, 28964, 28965, 28966, 28967, 28968, 28969, 28970, 40149, 40150, 40151, 40152, 40153, 40154, 40155, 40156, 40157, 40158, 40159, 40160, 40161, 40162, 40163, 40164, 40165, 40166, 40167, 40168, 40169, 40170, 40171, 40172, 40173, 40174, 40175, 40176, 40177, 40178, 40179, 51358, 51359, 51360, 51361, 51362, 51363, 51364, 51365, 51366, 51367, 51368, 51369, 51370, 51371, 51372, 51373, 51374, 51375, 51376, 51377, 51378, 51379, 51380, 51381, 51382, 51383, 51384, 51385, 51386, 51387, 51388, 62567, 62568, 62569, 62570, 62571, 62572, 62573, 62574, 62575, 62576, 62577, 62578, 62579, 62580, 62581, 62582, 62583, 62584, 62585, 62586, 62587, 62588, 62589, 62590, 62591, 62592, 62593, 62594, 62595, 62596, 62597]

                     date  temperatures  humidity  pressure   energy building
6522  2021-09-29 18:00:00           NaN       NaN       NaN  114.688    공대3호관
6523  2021-09-29 19:00:00           NaN       NaN       NaN   98.304    공대3호관
6524  2021-09-29 20:00:00           NaN       NaN       NaN   90.112    공대3호관
6525  2021-09-29 21:00:00          22.3      99.0       NaN   90.112    공대3호관
6526  2021-09-29 22:00:00          21.9      99.0       NaN   86.016    공대3호관
...                   ...           ...       ...       ...      ...      ...
62593 2021-09-30 20:00:00          22.0      70.0       NaN   36.928      진리관
62594 2021-09-30 21:00:00          21.6      71.0       NaN   37.504      진리관
62595 2021-09-30 22:00:00          21.2      75.0       NaN   27.264      진리관
62596 2021-09-30 23:00:00          21.2      75.0       NaN   21.376      진리관
62597 2021-10-01 00:00:00          19.5      80.0       NaN   20.736      진리관

[186 rows x 6 columns]

In [8]:
df.head(100)

                  date  temperatures  humidity  pressure   energy building
0  2021-01-01 00:00:00          -1.8      79.0    1018.5   90.112    공대3호관
1  2021-01-01 01:00:00          -2.9      83.0    1018.2   87.470    공대3호관
2  2021-01-01 02:00:00          -2.9      81.0    1018.2   83.896    공대3호관
3  2021-01-01 03:00:00          -2.8      86.0    1018.6   85.342    공대3호관
4  2021-01-01 04:00:00          -2.9      87.0    1018.6   83.940    공대3호관
..                 ...           ...       ...       ...      ...      ...
95 2021-01-04 23:00:00           1.4      88.0    1020.1  122.624    공대3호관
96 2021-01-05 00:00:00           1.7      90.0    1020.2  116.352    공대3호관
97 2021-01-05 01:00:00           1.3      93.0    1019.8  110.592    공대3호관
98 2021-01-05 02:00:00           1.2      92.0    1019.8  100.736    공대3호관
99 2021-01-05 03:00:00           1.1      92.0    1019.7   99.200    공대3호관

[100 rows x 6 columns]

In [9]:
# df.to_csv("cnu_multivariable.csv", index=False)